.marketing__botao {
    width: 70%;
    height: 60px;
    color: #FDFDFD;
    background: #2EA250;
    border: 1px solid #FDFDFD;
    border-radius: 50px;
    cursor: pointer;
}
.marketing__botao:hover {
    cursor: pointer;
    transition: .3s;
    border: 1px solid black;
}